<div id="<%= dom_id meal_log %>" class="meal_log">
  <p>
    <strong>Eat date:</strong>
    <%= meal_log.Eat_date %>
  </p>

  <p>
    <strong>Meal name:</strong>
    <%= meal_log.Meal_Name %>
  </p>

  <p>
    <strong>Meal description:</strong>
    <%= meal_log.Meal_description %>
  </p>

  <p>
    <strong>Calorie:</strong>
    <%= meal_log.Calorie %>
  </p>

</div>
